.userContainer {
  display: flex;
  align-items: center;
  padding: 1.5em;
}

.rightBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.selectedPage {
  font-weight: bold;
}

.usersPagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.usersPagination > span {
  margin-right: 5px;
  cursor: pointer;
}

.usersPagination > span:hover {
  color: dimgrey;
}
